body {
	background: #FEFEFE;
}

#tt {
	padding: 0 0 5em;
}

h1 {
	padding: 1em 1.8em;
	font-size: 3em;
	color: #FEFEFE;
	margin: 0 0 1em;
	text-shadow: 0 1px 2px #444;
	-webkit-box-shadow: 0 1px 1px #888;
	-moz-box-shadow: 0 1px 1px #888;
	box-shadow: 0 1px 1px #888;
    background-image: linear-gradient(#0168B2, #0B80D5);
    background-image: -o-linear-gradient(#0168B2, #0B80D5);
    background-image: -moz-linear-gradient(#0168B2, #0B80D5);
    background-image: -webkit-linear-gradient(#0168B2, #0B80D5);
    background-image: -ms-linear-gradient(#0168B2, #0B80D5);
}

.form-inline {
	border-left: 1px solid #999;
	float: right;
	width: 40%;
	padding: 0 2em 2em 3em;
	.form-title {
		text-shadow: 0 1px 1px #DDD;
		color: #0079DF;
	}
	.form-group {
		display: block;
	}
	label {
		display: block;
	}
	.form-control {
		margin: 0 0 1em;
		display: block;
		width: 100%;
	}
	.btn {
		background-image: linear-gradient(#FFEA0F, #F3CB00);
		background-image: -o-linear-gradient(#FFEA0F, #F3CB00);
		background-image: -moz-linear-gradient(#FFEA0F, #F3CB00);
		background-image: -webkit-linear-gradient(#FFEA0F, #F3CB00);
		background-image: -ms-linear-gradient(#FFEA0F, #F3CB00);
		color: #0A3E5F;
		font-weight: bold;
		width: 7em;
	}
}

.month-wrapper {
	width: 60%;
	margin: 0 0 4em;
	> h2 {
		color: #D74A4A;
		text-shadow: 0 1px 1px #DDD;
	}
}

.links-list {
	margin: 0;
	padding: 0;
	list-style: none;
	.links-entry {
		border-top: 1px solid #999;
		-webkit-box-shadow: 0px -6px 8px -9px #6B6B6B;
		-moz-box-shadow: 0px -6px 8px -9px #6B6B6B;
		box-shadow: 0px -6px 8px -9px #6B6B6B;
		margin: 1em 3em 0 0;
		padding: 1em 0 0;
		> a {
			font-size: 1.4em;
		}
		&:first-child {
			border: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		.links-email-address {
			color: #A39696
		}
	}
}
.tags-list {
	@extend .links-list;
	width: 100%;
	height: 30px;
	margin-top: 5px;
	.tag {
		background-color: #B2B2B2;
		-webkit-box-shadow: inset 0 0px 2px #6E6E6E;
		-moz-box-shadow: inset 0 0px 2px #6E6E6E;
		box-shadow: inset 0 0px 2px #6E6E6E;
		float: left;
		padding: 2px 10px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px; 
		margin: 0 5px 0 0;
		text-shadow: 0px 1px 1px #5A5A5A;
		color: #FEFEFE;
	}
}